/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
#container{
	width:300px;
	padding:20px;
	background-color: #f1f1f1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	align-items:center;
}
#but{
	padding:10px;
	margin:10px;
	color:white;
	background-color:red;
	border-radius:8px;
	border:none;
}
#con2{
	margin-left:50px;
	width:200px;
	align-items:center;
}